<!DOCTYPE html>
<html>
  <head>
    <title>ReactJS Starter</title>
    <link rel='stylesheet' href='' />
  </head>
  <body>
    <h1>We start our local server and configure API to save/update/delete data!</h1>

    <div id="container"></div>

  </body>
</html>
